<main>
    <div class="container_listas">
     <h1> Lista de Usuários: </h1>

   {{#each users}}
    <ul class="lista">
        <li>
        <input type="hidden" value='{{tb_user_id}}' name="userId"/>
        <br>
        <p> <strong> Name: </strong> {{tb_user_name}} </p>
        <p> <strong> Email: </strong> {{tb_user_email}}</p>
        <p> <strong> Name: </strong> {{tb_user_password}}</p>

        <a href="/routeUser/editUser/{{tb_user_id}}"><button type="submit" class="alterar">Editar</button> </a>
        <br>
        <br>
        <a href="/routeUser/deleteUser/{{tb_user_id}}"><button type="submit" class="deletar">Deletar</button> </a>
   </li>
    <hr>
    </ul>
   
    {{/each}}
</div>
</main>